@mixin h-flexing($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin v-flexing($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin text-display($size){
    font-size: map-get($map: $general-text-sizes, $key: $size);
}

@mixin m-border-radius($tl, $tr, $bl, $br){
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-left-radius: $bl;
    border-bottom-right-radius: $br;
}