//// @access public
/// @author Desarrollo aplicaciones web

/// Crea un contenedor flex justificado y alineado dependiendo de los parámetros introducidos
/// @group mixins
/// @parameter {string} $justify
/// Como debe alinearse en el eje X
/// @parameter {string} $align
/// Cómo debe alinearse en el eje Y
@mixin h-flexing($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin v-flexing($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-display($size){
    font-size: map-get($map: $general-text-sizes, $key: $size);
}

@mixin m-border-radius($tl, $tr, $bl, $br){
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-left-radius: $bl;
    border-bottom-right-radius: $br;
}

@mixin textShadow($alpha){
    text-shadow: 0 4px 4px rgba(0, 0, 0, $alpha);
}

@function addPx($px, $add) {
    $resultado: ($px + $add);
    @return #{$resultado};
}