@use 'functions.scss';
@import 'variables.scss';
@import 'functions.scss';
@import 'transitions.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $body-background;
}

.header{
    position: relative;
    height: $header-height;
    background-color: $header-background;
    @include h-flexing(space-between, center);
    font-size: $header-element-text;
    font-family: $general-text-font;
    color: $dark-background;
    padding-right: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    z-index: 99;

    svg{
        height: auto;
        width: $header-height;
        color: $light-background;
        margin-top: 26px
    }

}

.idioma{
    @include v-flexing(center, center);
    @include text-display('medium');

    img{
        height: 39px;
        width: 117px;
    }

}

.banner {
    height: $banner-height;
  
    img {
      width: 100%;
      height: 100%;
    }

    .banner-text {
        position: absolute;
        color: $dark-background;
        font-family: $general-text-font;
        font-size: $banner-text;
        top: addPx($header-height, 100px);
        left: 27%;
        transform: rotate(19.77deg);
        @include textShadow(0.25); 
    }

  }
  
.btn {    
    all: unset;
    background-color: $btn-background;
    font-family: $product-text-font;
    font-size: $button-text;
    @include h-flexing(center, center);
    cursor: pointer;
}

main{
    margin-bottom: $header-height;
}

.main-cart-btn{
    position: absolute;
    top: addPx($header-height, 30px);
    right: 80px;
    gap: 40px;
    height: 100px;
    width: 246px;
    @include m-border-radius(10px, 10px, 10px, 10px);
}

.section-title{
    font-size: $section-title;
    color: $dark-color;
    font-family: $general-text-font;
    @include textShadow(0.5);
    @include h-flexing(center, center);
    padding: 70px;
}

.main-page-element{

    @include v-flexing(center, center);

    img{
        @include m-border-radius(15px, 15px, 0, 0);
        width: $main-page-element-width;
        height: $main-page-element-height;
    }  

}

.main-page-name-container{
    height: 130px;
    color: $light-background;
    width: $main-page-element-width;
    background-color: $element-name-background;
    @include m-border-radius(0, 0, 15px, 15px);
    @include h-flexing(center, center);
    font-family: $product-text-font;
    font-size: map-get($map: $general-text-sizes, $key: 'large');
    text-align: center;
    padding: 0px 20px;
}


a{
    all: unset;
    cursor: pointer;
}

.footer{
    background-color: $dark-color;
    width: 100%;
    height: addPx(366px, addPx($footer-padding-top, $banner-text));
    padding: $footer-padding-top 0 40px 40px;
    font-family: $general-text-font;
    color: $dark-background;

    img{
        height: 400px;
    }

    .contact-title{
        font-size: $banner-text;
    }

    .email{
        font-size: $button-text;
    }

    .tel{
        font-size: $banner-text;
    }

    .location-title{
        font-size: $banner-text;
    }

    .location{
        font-size: $button-text;
    }

}

// SECTIONS

.container-product{

    @include v-flexing(center, center);

    img{
        width: $section-page-element-width;
        height: $section-page-element-height;
        @include m-border-radius(15px, 15px, 0, 0);
    }

    .product-title{
        font-size: map-get($map: $general-text-sizes, $key: "medium");
        color: $light-background;
        background-color: $element-name-background;
        font-family: $product-text-font;
        height: $product-element-box-height;
        width: addPx($section-page-element-width, -$price-box-width);
        padding: 10px;
        text-align: center;
    }

    .product-price{
        font-size: map-get($map: $general-text-sizes, $key: "medium");
        color: $dark-background;
        background-color: $price-background;
        font-family: $product-text-font;
        width: $price-box-width;
    }
    
    .btn-product{
        height: $product-element-box-height;
        width: $section-page-element-width;
        gap: 30px;
        @include m-border-radius(0px, 0px, 15px, 15px);
        padding: 3px 0px;
    }

}

// CONOCENOS

.about-us-img{
    img{
        @include m-border-radius(15px,15px,15px,15px);
        height: $about-us-img-size;
    }
}

.about-us-text{
    width: $about-us-img-size;
    font-family: $general-text-font;
    font-size: map-get($map: $general-text-sizes, $key: "large");
    text-align: center;
}

// BUCLES

@for $i from 1 through length($display){
    $item: nth($display, $i);
    .container-#{$item}{
        display: #{$item};
    }
}

@for $i from 1 through 12 {
    .col-#{$i}{
        grid-template-columns: repeat(#{$i}, auto);
    }
}

@for $i from 1 through 12 {
    @for $j from $i through 12{
        .col-pos-#{$i}-#{$j}{
            grid-column: #{$i} / #{$j};
        }
    }
}

@for $i from 1 through 12 {
    .row-#{$i}{
        grid-template-rows: #{$i};
    }
}


@for $i from 1 through 12 {
    @for $j from $i through 12{
        .row-pos-#{$i}-#{$j}{
            grid-row: #{$i} / #{$j};
        }
    }
}

@for $i from 1 through length($flex){
    $justify1: nth($flex, $i);
    @for $j from 1 through length($flex){
        $justify2: nth($flex, $j);
        .items-#{$justify1}-#{$justify2}{
            justify-content: #{$justify1};
            align-items: #{$justify2};
        }
    }
}

@for $i from 1 through length($gap){
    $value: nth($gap, $i);
    .gap-#{$value}{
        gap: #{$value} + px;
    }
}