// COLORES

$header-background: #866D57;
$body-background: #F1EEE7;
$dark-color: #363636;
$btn-background: #FFA438;
$price-background: #6F481B;
$element-name-background: #D9D9D9;

// TIPO DE FUENTES

$product-text-font: 'Inter';
$general-text-font: 'Loved by the King';

// COLORES DE FUENTES

$dark-background: #FFFFFF;
$light-background: #363636;

// TAMAÑOS

$header-height: 176px;
$banner-height: 450px;
$main-page-element-width: 439px;
$main-page-element-height: 309px;
$footer-padding-top: 30px;
$section-page-element-width: 329px;
$section-page-element-height: 233px;
$price-box-width: 107px;
$product-element-box-height: 67px;
$about-us-img-size: 587px;

// TAMAÑO DE FUENTES

$section-title: 96px;
$banner-text: 64px;
$header-element-text:48px;
$button-text: 36px;

$general-text-sizes: (
    "large": 40px,
    "medium": 24px
);

// LISTAS DE TIPOS

$display: ('grid', 'flex', 'block', 'none');

$flex: (center, space-between, space-around, space-evenly, flex-end, flex-start);

$gap: (10, 20, 50, 100, 200, 300, 400);

// TIEMPO DE LAS TRANSICIONES

$fast: .2s;
$medium: .5s;
$slow: 1s;